@model UI.Models.Slider
@using System.Security.Claims
@using Microsoft.IdentityModel.JsonWebTokens
@using System.Text.RegularExpressions


@{
    var EntityName = "Slider";
    var splitEntityName = Regex.Replace(EntityName, "(?<!^)([A-Z])", " $1");
    var ModelID = $"COMERP_{EntityName}ModelCreate";
    var FromID = $"{EntityName}Form";
    var SaveChangesId = $"btnSave{EntityName}";
    var UpdateId = $"btnUpdate{EntityName}";
    var AddLabel = $"{EntityName}ModalLabelAdd";
    var UpdateLabel = $"{EntityName}ModalLabelUpdate";
}

<div class="modal fade" id=@ModelID tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id=@AddLabel class="modal-title">Create @splitEntityName</h5>
                <h5 id=@UpdateLabel class="modal-title">Update @splitEntityName</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id=@FromID class="row g-3">
                    <div class="col-md-12 note">
                        <label asp-for="Title" class="form-label">
                            Title
                            <span class="text-danger font-weight-bold">*</span>
                        </label>
                        <input type="text" asp-for="Title" class="form-control" id="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="Subtitle" class="form-label">
                            Subtitle
                        </label>
                        <textarea asp-for="Subtitle" type="text" class="form-control" placeholder="Sub title" id="Subtitle" style="height: 100px;"></textarea>
                        <span asp-validation-for="Subtitle" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="FormFile" class="form-label">
                            Image
                        </label>
                        <input asp-for="FormFile" class="form-control" id="FormFile">
                        <span asp-validation-for="FormFile" class="text-danger"></span>
                    </div>

                   
                    <div class="col-md-4">
                        <label asp-for="DisplayOrder" class="form-label">
                            Display Order
                            <span class="text-danger font-weight-bold">*</span>
                        </label>
                        <input type="number" asp-for="DisplayOrder" class="form-control" id="DisplayOrder">
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="CreatedDate" class="form-label">
                            Date
                        </label>
                        <input type="date" asp-for="CreatedDate" class="form-control" id="CreatedDate">
                        <span asp-validation-for="CreatedDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="LinkUrl" class="form-label">
                            Link
                        </label>
                        <input type="text" asp-for="LinkUrl" class="form-control" id="LinkUrl">
                        <span asp-validation-for="LinkUrl" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="CompanyId" class="form-label">
                            Company
                            <span class="text-danger font-weight-bold">*</span>
                        </label>
                        <select class="form-control" asp-for="CompanyId" id="CompanyDropdown">
                            <option value="">Select Company</option>
                        </select>
                        <span asp-validation-for="CompanyId" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" asp-for="IsActive" type="checkbox" id="IsActive">
                            <label class="form-check-label" for="invalidCheck">
                                Active
                            </label>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id=@SaveChangesId>Save changes</button>
                <button type="button" class="btn btn-primary" id=@UpdateId>Update</button>
            </div>
        </div>
    </div>
</div><!-- End Large Modal-->
